**About Book Crossing Dataset**<br>

This dataset has been compiled by Cai-Nicolas Ziegler in 2004, and it comprises of three tables for users, books and ratings. Explicit ratings are expressed on a scale from 1-10 (higher values denoting higher appreciation) and implicit rating is expressed by 0.

Reference: http://www2.informatik.uni-freiburg.de/~cziegler/BX/

**Objective**

This project entails building a Book Recommender System for users based on user-based and item-based collaborative filtering approaches.

#### Execute the below cell to load the datasets

In [0]:
import numpy as np
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
%matplotlib inline
import timeit
from scipy.linalg import svd

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [3]:
#Loading data
books = pd.read_csv("/content/drive/My Drive/Datasets/books.csv", sep=";", error_bad_lines=False, encoding="latin-1")
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
ratings = pd.read_csv('/content/drive/My Drive/Datasets/ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
ratings.columns = ['userID', 'ISBN', 'bookRating']

In [0]:
users = pd.read_csv('/content/drive/My Drive/Datasets/users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
users.columns = ['userID', 'Location', 'Age']

### Check no.of records and features given in each dataset

In [6]:
print("ratinsg:", ratings.shape)
print("books:", books.shape)
print("users:", users.shape)

ratinsg: (1149780, 3)
books: (271360, 8)
users: (278858, 3)

In [7]:
ratings.info()
# initial intuation from info: no missing value but ISBN is obj not int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
userID        1149780 non-null int64
ISBN          1149780 non-null object
bookRating    1149780 non-null int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [8]:
books.info()
# initial intuation from info: some missing values in author, publisher, imageUrlL. Also yearOfPublication as Object not int

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
ISBN                 271360 non-null object
bookTitle            271360 non-null object
bookAuthor           271359 non-null object
yearOfPublication    271360 non-null object
publisher            271358 non-null object
imageUrlS            271360 non-null object
imageUrlM            271360 non-null object
imageUrlL            271357 non-null object
dtypes: object(8)
memory usage: 16.6+ MB

In [9]:
users.info()
# initial intuation from info: missing values in age

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
userID      278858 non-null int64
Location    278858 non-null object
Age         168096 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

## Exploring books dataset

In [10]:
books.head()

         ISBN  ...                                          imageUrlL
0  0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1  0002005018  ...  http://images.amazon.com/images/P/0002005018.0...
2  0060973129  ...  http://images.amazon.com/images/P/0060973129.0...
3  0374157065  ...  http://images.amazon.com/images/P/0374157065.0...
4  0393045218  ...  http://images.amazon.com/images/P/0393045218.0...

[5 rows x 8 columns]

In [11]:
users.head()

   userID                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

In [13]:
ratings.head()

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

### Drop last three columns containing image URLs which will not be required for analysis

In [14]:
# keeping 'imageUrlS', 'imageUrlM','imageUrlL' in different set before droping the same
image_url = books.loc[:,['ISBN', 'imageUrlS', 'imageUrlM','imageUrlL']]
image_url.shape

(271360, 4)

In [0]:
# image_url = books[['imageUrlS', 'imageUrlM','imageUrlL']]
# image_url.shape

In [0]:
# Dropping the 'imageUrlS', 'imageUrlM','imageUrlL'
books.drop(['imageUrlS', 'imageUrlM','imageUrlL'], axis=1, inplace=True);

In [17]:
books.head()

         ISBN  ...                   publisher
0  0195153448  ...     Oxford University Press
1  0002005018  ...       HarperFlamingo Canada
2  0060973129  ...             HarperPerennial
3  0374157065  ...        Farrar Straus Giroux
4  0393045218  ...  W. W. Norton &amp; Company

[5 rows x 5 columns]

**yearOfPublication**

### Check unique values of yearOfPublication

In [18]:
books['yearOfPublication'].unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', 'DK Publishing Inc', '1943', '1938',
       '1900', '1942', '1923', '1920', '1933', 'Gallimard', '1909',
       '1946', '2008', '1378', '2030', '1936', '1947', '2011', '2020',
       '1919', '1949', '1922', '1897', '2024', '1376', '1926', '2037'],
      dtype=object)

As it can be seen from above that there are some incorrect entries in this field. It looks like Publisher names 'DK Publishing Inc' and 'Gallimard' have been incorrectly loaded as yearOfPublication in dataset due to some errors in csv file.


Also some of the entries are strings and same years have been entered as numbers in some places. We will try to fix these things in the coming questions.

### Check the rows having 'DK Publishing Inc' as yearOfPublication

In [19]:
#books[(books['yearOfPublication'] == 'DK Publishing Inc') | (books['yearOfPublication'] == 'Gallimard')] or
books[books['yearOfPublication'].isin(['DK Publishing Inc', 'Gallimard'])]

              ISBN  ...                                          publisher
209538  078946697X  ...  http://images.amazon.com/images/P/078946697X.0...
220731  2070426769  ...  http://images.amazon.com/images/P/2070426769.0...
221678  0789466953  ...  http://images.amazon.com/images/P/0789466953.0...

[3 rows x 5 columns]

In [0]:
#books.index[(books['yearOfPublication'] == 'DK Publishing Inc') | (books['yearOfPublication'] == 'Gallimard')]

### Drop the rows having `'DK Publishing Inc'` and `'Gallimard'` as `yearOfPublication`

In [0]:
books = books[~books['yearOfPublication'].isin(['DK Publishing Inc', 'Gallimard'])]
#books.drop(books.index[(books['yearOfPublication'] == 'DK Publishing Inc') | (books['yearOfPublication'] == 'Gallimard')], axis=0, inplace=True)

In [22]:
# checking whether the rows have been drop or not
books[(books['yearOfPublication'] == 'DK Publishing Inc') | (books['yearOfPublication'] == 'Gallimard')]

Empty DataFrame
Columns: [ISBN, bookTitle, bookAuthor, yearOfPublication, publisher]
Index: []

### Change the datatype of yearOfPublication to 'int'

In [0]:
books['yearOfPublication'] = books['yearOfPublication'].astype('int32')

In [24]:
books.dtypes

ISBN                 object
bookTitle            object
bookAuthor           object
yearOfPublication     int32
publisher            object
dtype: object

### Drop NaNs in `'publisher'` column

In [25]:
books.isna().sum()

ISBN                 0
bookTitle            0
bookAuthor           1
yearOfPublication    0
publisher            2
dtype: int64

In [26]:
rows_to_drop = books.index[books['publisher'].isna()]
len(rows_to_drop)

2

In [0]:
books.drop(rows_to_drop, axis=0, inplace=True)

## Exploring Users dataset

In [28]:
print(users.shape)
users.head()

(278858, 3)

   userID                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

### Get all unique values in ascending order for column `Age`

In [29]:
sorted_value = users['Age'].unique()
sorted_value.sort()
sorted_value

array([  0.,   1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,
        11.,  12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,
        22.,  23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,
        33.,  34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,
        44.,  45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,
        55.,  56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,
        66.,  67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,
        77.,  78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,
        88.,  89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,
        99., 100., 101., 102., 103., 104., 105., 106., 107., 108., 109.,
       110., 111., 113., 114., 115., 116., 118., 119., 123., 124., 127.,
       128., 132., 133., 136., 137., 138., 140., 141., 143., 146., 147.,
       148., 151., 152., 156., 157., 159., 162., 168., 172., 175., 183.,
       186., 189., 199., 200., 201., 204., 207., 208., 209., 210., 212.,
       219., 220., 223., 226., 228., 229., 230., 231., 237., 239., 244.,
        nan])

In [30]:
print(sorted(users['Age'].unique()))

[nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 109.0, 110.0, 111.0, 113.0, 114.0, 115.0, 116.0, 118.0, 119.0, 123.0, 124.0, 127.0, 128.0, 132.0, 133.0, 136.0, 137.0, 138.0, 140.0, 141.0, 143.0, 146.0, 147.0, 148.0, 151.0, 152.0, 156.0, 157.0, 159.0, 162.0, 168.0, 172.0, 175.0, 183.0, 186.0, 189.0, 199.0, 200.0, 201.0, 204.0, 207.0, 208.0, 209.0, 210.0, 212.0, 219.0, 220.0, 223.0, 226.0, 228.0, 229.0, 230.0, 231.0, 237.0, 239.0, 244.0]

Age column has some invalid entries like nan, 0 and very high values like 100 and above

### Values below 5 and above 90 do not make much sense for our book rating case...hence replace these by NaNs

In [31]:
index_to_replace = users.index[(users['Age'] < 5) | (users['Age'] > 90)]
print (sorted(index_to_replace))
print(len(index_to_replace))

[219, 469, 561, 612, 670, 931, 1148, 1288, 1322, 1460, 1564, 1578, 1685, 1849, 1909, 1954, 2151, 2805, 3084, 3210, 3436, 3610, 3676, 3688, 4041, 4254, 4344, 4346, 4782, 5501, 5569, 5776, 5935, 6361, 6523, 6535, 6625, 6711, 6875, 7111, 7213, 7736, 7884, 7942, 8067, 8329, 8432, 8457, 8549, 8594, 8654, 8679, 8781, 8799, 8895, 9018, 9116, 9167, 9698, 9967, 10586, 10737, 10778, 11054, 11086, 11325, 11389, 11503, 11922, 12691, 13080, 13272, 13518, 13800, 13913, 13961, 14487, 14531, 14588, 14600, 15117, 15169, 15288, 15518, 15628, 15810, 16273, 16512, 16686, 16987, 17095, 17111, 17177, 17215, 17389, 17405, 17688, 17771, 17902, 18569, 18734, 19262, 19876, 20127, 20201, 20449, 20552, 20687, 20844, 20850, 20852, 20855, 20856, 20858, 20925, 20932, 21131, 21463, 21911, 22259, 22294, 22345, 22773, 23457, 23568, 23819, 23862, 24167, 24194, 24272, 24410, 24434, 24461, 24477, 24506, 24674, 24870, 25100, 25110, 25143, 25714, 26082, 26271, 26430, 26883, 27013, 27096, 27551, 27637, 27717, 28090, 28367, 28372, 28462, 28543, 28564, 28731, 28966, 29327, 29439, 29555, 29626, 30445, 30504, 30589, 30619, 31535, 32479, 32641, 32655, 33213, 33796, 33952, 34030, 34520, 34592, 34856, 35351, 35394, 35426, 35797, 35860, 36184, 36305, 36550, 36567, 36858, 37125, 37834, 37922, 37932, 38380, 38693, 39779, 39889, 40312, 40506, 40592, 40910, 41264, 41357, 41383, 41852, 41869, 41983, 42146, 42184, 42271, 42447, 42499, 42811, 43002, 43386, 43426, 43911, 44315, 44325, 44417, 44555, 44777, 45234, 45523, 45640, 45688, 45953, 46093, 46166, 46176, 46262, 46263, 46500, 46800, 47408, 47427, 48098, 48226, 48280, 48572, 48666, 48818, 48915, 49318, 49334, 49435, 49750, 50144, 50234, 50325, 50768, 50969, 51102, 51175, 51667, 51848, 52120, 52136, 52471, 52648, 52738, 52795, 52809, 52888, 53170, 53345, 53609, 53808, 54018, 55317, 55530, 55829, 56303, 56462, 56916, 57265, 57399, 57604, 58150, 58203, 58222, 58285, 58619, 58926, 59066, 59135, 59478, 59573, 59897, 60473, 60593, 60650, 60989, 61103, 61340, 61695, 61826, 61988, 62404, 62568, 62909, 63276, 63284, 63338, 63665, 63928, 63982, 64222, 64521, 64771, 65283, 65487, 65993, 66319, 66402, 66416, 66529, 66537, 66959, 67201, 67362, 67563, 67591, 67962, 68108, 68381, 68828, 69279, 69359, 69646, 70116, 70326, 70380, 70439, 70513, 70639, 70924, 71409, 71468, 71636, 71799, 72574, 72589, 72830, 73207, 73237, 73698, 73950, 73963, 74040, 74280, 74286, 74622, 74676, 74753, 74848, 74927, 75665, 75762, 76085, 76166, 76239, 76330, 76481, 76599, 76804, 76864, 77127, 77581, 78387, 78558, 78593, 78642, 78785, 79283, 79591, 79666, 79978, 80017, 80140, 80532, 80774, 81137, 81772, 81838, 81846, 81872, 82031, 82041, 82255, 82280, 82337, 82833, 83379, 83454, 83473, 83596, 83734, 83841, 83882, 83890, 84046, 84322, 84386, 84440, 85211, 85316, 85431, 85473, 85577, 85841, 85846, 85878, 86588, 86720, 86788, 86908, 86979, 87020, 87096, 87116, 87462, 87639, 87727, 87756, 87780, 87826, 87864, 88478, 89307, 89668, 89778, 89920, 90535, 90765, 91465, 91477, 91487, 91494, 91497, 91630, 91683, 91998, 92145, 92583, 92857, 93438, 93452, 93686, 93991, 94308, 94578, 94862, 94897, 95486, 95790, 95815, 95863, 96273, 96444, 96472, 96495, 96535, 96619, 96713, 96900, 97245, 97253, 97511, 97680, 97738, 97853, 98292, 98470, 98564, 98711, 98874, 99155, 99255, 99478, 99729, 99895, 99939, 99944, 100003, 100197, 100528, 100570, 100871, 100880, 101324, 101667, 101992, 102052, 102164, 102555, 102602, 102627, 103017, 103124, 103213, 103246, 103264, 103265, 103630, 103693, 103986, 104350, 104520, 104591, 104815, 104836, 105040, 105702, 105891, 106023, 106143, 106505, 106891, 106901, 106979, 107063, 107095, 107338, 107493, 107660, 107711, 107714, 107835, 107876, 108343, 108414, 108558, 109150, 109177, 109499, 109783, 109810, 110321, 110393, 110738, 111160, 112240, 112355, 112486, 113739, 113853, 113895, 114037, 114587, 114730, 114864, 115167, 115393, 115416, 116773, 116918, 118069, 118766, 119225, 119254, 119281, 119366, 119770, 119926, 120276, 120305, 120688, 120778, 120859, 120935, 121425, 121446, 121613, 121725, 121745, 121850, 121874, 122559, 122595, 122676, 122677, 122683, 122876, 122962, 123169, 124652, 124923, 125428, 125450, 125786, 126167, 126450, 126566, 126679, 126866, 126962, 127243, 127275, 127661, 127968, 128530, 128974, 129002, 129232, 129341, 129524, 129734, 129762, 130115, 130197, 130709, 130973, 131059, 131129, 131251, 131483, 131715, 131742, 131921, 132496, 132525, 132630, 132667, 133728, 133754, 134260, 134413, 134818, 134842, 135009, 135054, 135176, 135476, 135490, 135953, 136082, 136202, 136356, 136504, 136518, 136658, 136773, 136874, 136954, 137178, 137402, 137725, 138303, 138480, 138747, 139101, 139352, 139617, 140133, 140272, 140379, 140585, 140729, 140879, 141250, 141657, 141753, 141754, 141963, 142113, 142291, 142328, 142625, 142638, 142681, 142792, 142915, 143004, 143570, 143877, 144379, 144744, 144766, 144836, 144840, 144946, 144986, 145008, 145200, 145515, 145524, 145570, 145852, 145931, 146191, 146284, 146311, 146541, 146895, 147463, 147501, 147517, 148084, 148204, 148632, 148862, 149227, 149326, 149364, 149818, 149828, 149970, 150040, 150115, 150238, 150240, 150248, 150673, 150860, 151325, 151774, 151785, 151873, 152575, 152875, 153020, 153188, 153286, 153369, 153484, 153927, 153995, 153999, 154307, 154919, 155098, 155246, 155427, 155586, 155594, 156353, 156786, 156838, 158211, 158593, 158597, 159396, 159402, 159853, 160312, 160596, 160863, 160882, 160894, 161096, 161217, 161235, 161323, 161428, 161796, 161826, 162002, 162188, 162239, 162321, 162387, 162778, 163079, 163204, 163282, 163351, 163501, 163654, 163826, 163880, 163912, 164777, 165337, 165351, 165823, 166486, 166664, 166936, 167071, 167488, 167653, 167770, 167875, 168194, 168294, 168457, 168656, 168716, 168744, 168752, 168769, 169292, 169409, 169984, 169989, 170079, 170205, 170622, 170806, 171386, 171456, 171562, 171862, 172057, 172089, 172600, 172624, 172633, 172868, 172945, 173018, 173027, 173176, 173194, 173270, 173871, 173973, 174235, 174275, 174508, 174957, 175619, 175658, 175741, 175749, 175879, 176613, 176661, 177269, 177387, 178039, 178053, 178615, 178842, 178933, 179114, 179467, 179568, 179632, 179669, 180422, 180574, 180590, 180614, 181048, 181109, 181456, 181495, 181868, 182343, 182621, 182769, 183014, 183262, 183269, 183332, 184228, 184336, 184774, 184860, 184881, 184948, 185177, 185337, 185395, 186432, 186458, 186497, 186596, 186734, 187409, 187481, 188258, 188401, 188531, 188628, 188841, 188887, 188991, 189235, 189279, 189606, 189615, 189661, 189774, 189788, 189924, 189979, 190008, 190380, 190462, 190466, 190620, 190646, 190693, 190926, 191481, 191805, 191864, 192064, 192406, 192412, 192470, 192622, 193019, 193170, 193488, 193694, 193705, 193954, 194105, 194386, 195046, 195254, 195390, 195391, 195521, 195556, 195691, 196035, 196903, 196953, 197175, 197444, 197533, 197579, 197733, 198837, 198921, 198983, 199264, 199321, 199508, 199517, 199918, 200148, 200379, 200703, 200719, 201485, 201604, 201616, 201751, 201984, 202051, 202259, 202639, 202787, 202918, 203330, 203416, 203870, 203918, 203927, 204318, 204896, 205339, 205919, 206115, 206343, 206698, 206779, 207001, 207256, 207399, 207401, 207490, 207668, 207861, 208031, 208431, 208645, 208718, 208937, 208991, 209100, 209437, 209509, 210012, 210475, 210670, 211042, 211044, 211132, 211313, 211401, 211410, 211520, 211755, 211936, 212119, 212480, 212515, 212953, 213095, 213149, 213169, 213251, 213646, 213752, 213784, 214019, 214192, 214220, 214255, 214259, 214280, 214350, 214374, 214544, 214686, 214819, 214986, 215311, 215949, 215981, 216665, 216891, 217182, 217540, 217550, 217630, 217816, 217853, 217889, 218063, 218599, 218682, 218806, 218951, 219123, 219755, 220098, 220104, 220197, 220423, 220548, 221074, 221312, 221391, 221589, 221876, 222630, 222659, 223217, 223260, 223526, 224002, 224266, 224584, 224600, 224633, 224651, 224763, 224875, 225017, 225142, 225170, 225172, 225231, 225428, 225437, 225525, 225671, 225766, 225866, 225959, 226266, 226615, 227250, 227276, 227314, 227408, 227814, 227885, 228250, 228277, 228378, 228633, 228833, 228989, 229131, 229207, 229276, 229800, 229838, 229869, 230401, 231052, 231349, 231421, 231580, 231893, 231945, 232006, 232252, 232634, 232719, 232823, 232914, 233214, 233485, 233512, 234285, 235234, 235535, 235716, 236107, 236288, 236307, 236648, 236848, 237046, 237276, 237469, 237527, 237564, 237612, 237651, 237834, 237976, 237987, 238033, 238411, 240043, 240207, 240213, 240273, 240499, 240759, 240865, 241039, 241130, 241174, 241337, 241794, 241898, 242213, 242329, 242570, 242716, 243083, 243195, 243254, 243301, 243308, 243402, 243810, 244077, 244324, 244370, 245004, 245084, 245230, 245454, 245761, 246182, 246359, 246447, 246470, 246519, 246554, 247173, 247174, 247396, 247561, 247805, 248026, 248891, 249076, 249082, 249202, 249671, 249686, 250061, 250633, 250823, 250958, 251433, 251453, 251544, 251604, 251628, 251697, 251794, 251918, 252197, 252509, 252829, 253089, 253272, 253348, 253872, 254254, 254647, 254652, 255188, 255192, 255714, 255982, 256120, 257113, 257177, 257193, 257429, 257968, 258551, 258733, 259016, 259041, 259172, 259556, 259607, 259625, 260154, 260272, 260601, 260622, 260709, 261265, 261553, 261759, 262016, 262275, 262362, 262426, 263066, 263140, 263194, 263252, 263363, 263433, 263441, 263676, 264329, 264607, 264648, 264687, 264933, 264937, 264965, 265259, 265337, 265843, 266115, 266175, 266275, 266276, 266534, 266809, 266934, 267049, 267829, 268132, 268214, 268673, 268721, 268793, 268863, 269193, 269235, 270222, 270274, 270443, 270444, 270764, 270814, 270920, 271015, 271087, 271276, 271418, 271843, 271895, 271989, 272351, 272409, 272480, 272482, 272483, 272595, 272988, 273525, 273688, 273872, 273875, 274171, 275284, 275332, 275392, 275393, 275470, 275565, 275582, 275697, 275739, 275884, 276047, 276073, 276184, 276226, 276315, 276352, 276577, 276692, 276784, 276889, 277075, 277107, 277503, 277558, 277908, 278301]
1312

In [32]:
users['Age'].isna().sum()

110762

In [0]:
users.loc[index_to_replace, 'Age'] = np.NaN

In [34]:
#cross check
users.index[(users['Age'] < 5) | (users['Age'] > 90)]

Int64Index([], dtype='int64')

In [35]:
users['Age'].isna().sum()

112074

### Replace null values in column `Age` with mean

In [36]:
users['Age'].mean()

34.72384041634689

In [0]:
users['Age'].replace(np.NaN, users['Age'].mean(), inplace=True)

In [38]:
users['Age'].isna().sum()

0

### Change the datatype of `Age` to `int`

In [0]:
users['Age'] = users['Age'].astype('int32')

In [40]:
print(sorted(users.Age.unique()))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

## Exploring the Ratings Dataset

### check the shape

In [41]:
ratings.shape

(1149780, 3)

In [0]:
n_users = users.shape[0]
n_books = books.shape[0]

In [44]:
ratings.head(5)

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

### Ratings dataset should have books only which exist in our books dataset. Drop the remaining rows

In [45]:
(ratings['ISBN'].isin(books['ISBN'])).value_counts()

True     1031130
False     118650
Name: ISBN, dtype: int64

In [0]:
ratings = ratings[ratings['ISBN'].isin(books['ISBN'])]

In [47]:
print(ratings.shape)
ratings.head()

(1031130, 3)

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

### Ratings dataset should have ratings from users which exist in users dataset. Drop the remaining rows

In [48]:
(ratings['userID'].isin(users['userID'])).value_counts()

True    1031130
Name: userID, dtype: int64

In [49]:
ratings_new = ratings[ratings['userID'].isin(users['userID'])]
print(ratings_new.shape)
ratings_new.head()

(1031130, 3)

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

### Consider only ratings from 1-10 and leave 0s in column `bookRating`

In [50]:
#checking the unique values of book ratings
sorted(ratings['bookRating'].unique())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [0]:
ratings_excluding_zero = ratings[ratings['bookRating'] != 0]
ratings_including_zero = ratings[ratings['bookRating'] == 0]

In [52]:
sorted(ratings_excluding_zero['bookRating'].unique())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Find out which rating has been given highest number of times

In [53]:
ratings_excluding_zero['bookRating'].value_counts()
# Rating 8 is given highest

8     91804
10    71225
7     66401
9     60776
5     45355
6     31687
4      7617
3      5118
2      2375
1      1481
Name: bookRating, dtype: int64

### **Collaborative Filtering Based Recommendation Systems**

### For more accurate results only consider users who have rated atleast 100 books

In [55]:
ratings_excluding_zero.shape

(383839, 3)

In [0]:
ratings_excluding_zero_atleast_hundr = ratings_excluding_zero.groupby('userID').filter(lambda df: df['ISBN'].nunique() >= 100)

In [57]:
#selective_ratings = non_zero_ratings[non_zero_ratings['userID'].isin((non_zero_ratings['userID'].value_counts() > 100).index)]
print(ratings_excluding_zero_atleast_hundr.shape)
ratings_excluding_zero_atleast_hundr.head()

(103269, 3)

      userID        ISBN  bookRating
1456  277427  002542730X          10
1458  277427  003008685X           8
1461  277427  0060006641          10
1465  277427  0060542128           7
1474  277427  0061009059           9

### Generating ratings matrix from explicit ratings

#### Note: since NaNs cannot be handled by training algorithms, replace these by 0, which indicates absence of ratings

In [0]:
ratings_matrix = ratings_excluding_zero_atleast_hundr.pivot(index='userID', columns='ISBN', values='bookRating').fillna(0)

In [59]:
print(ratings_matrix.shape)
ratings_matrix.head()

(449, 66572)

ISBN    0000913154  0001046438  000104687X  ...  B00013AX9E  B0001I1KOG  B000234N3A
userID                                      ...
2033           0.0         0.0         0.0  ...         0.0         0.0         0.0
2110           0.0         0.0         0.0  ...         0.0         0.0         0.0
2276           0.0         0.0         0.0  ...         0.0         0.0         0.0
4017           0.0         0.0         0.0  ...         0.0         0.0         0.0
4385           0.0         0.0         0.0  ...         0.0         0.0         0.0

[5 rows x 66572 columns]

In [0]:
userID = ratings_matrix.index

In [0]:
ISBN = ratings_matrix.columns

### Generate the predicted ratings using SVD with no.of singular values to be 50

In [0]:
from scipy.sparse.linalg import svds
#singluar value decomposition
#Compute the largest k singular values/vectors for a sparse matrix.
#k: Number of singular values and vectors to compute. Must be 1 <= k < min(R_df.shape)
# R_df is to compute the SVD on
# The singular values - sigma
U, sigma, Vt = svds(ratings_matrix, k = 50)

In [0]:
sigma = np.diag(sigma)

In [0]:
#I also need to add the user means back to get the predicted 5-star ratings
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) 
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = ratings_matrix.columns)

In [66]:
preds_df.head(5)

ISBN  0000913154  0001046438  000104687X  ...  B00013AX9E  B0001I1KOG  B000234N3A
0       0.025341   -0.002146   -0.001431  ...    0.000120   -0.001693    0.067503
1      -0.010012   -0.003669   -0.002446  ...   -0.000242    0.000029   -0.013059
2      -0.015054   -0.015457   -0.010304  ...   -0.000304    0.009009   -0.057692
3      -0.021499    0.035602    0.023735  ...    0.001981    0.031201   -0.046664
4       0.002077   -0.007965   -0.005310  ...    0.001413    0.004918    0.047773

[5 rows x 66572 columns]

### Take a particular user_id

### Lets find the recommendations for user with id `2110`

#### Note: Execute the below cells to get the variables loaded

In [0]:
userID = 2110

In [0]:
user_id = 2 #2nd row in ratings matrix and predicted matrix

### Get the predicted ratings for userID `2110` and sort them in descending order

In [69]:
# Get and sort the user's predictions
user_row_number = user_id - 1 # UserID starts at 1, not 0
sorted_user_predictions = preds_df.iloc[user_row_number].sort_values(ascending=False)
sorted_user_predictions

ISBN
059035342X    0.682444
0345370775    0.368946
0345384911    0.333624
043935806X    0.333209
044021145X    0.329336
                ...
0671744577   -0.056397
0399141383   -0.057334
0553569783   -0.060981
0515127833   -0.061348
0553561618   -0.067188
Name: 1, Length: 66572, dtype: float64

### Create a dataframe with name `user_data` containing userID `2110` explicitly interacted books

In [0]:
user_data = ratings_excluding_zero_atleast_hundr[ratings_excluding_zero_atleast_hundr.userID == userID]

In [71]:
user_data.head()

       userID        ISBN  bookRating
14448    2110  0060987529           7
14449    2110  0064472779           8
14450    2110  0140022651          10
14452    2110  0142302163           8
14453    2110  0151008116           5

In [72]:
user_data.shape

(103, 3)

### Combine the user_data and and corresponding book data(`book_data`) in a single dataframe with name `user_full_info`

In [0]:
user_full_info = pd.merge(user_data,books,on='ISBN')

In [74]:
user_full_info.head()

   userID        ISBN  ...  yearOfPublication      publisher
0    2110  0060987529  ...               2000    Regan Books
1    2110  0064472779  ...               2003   HarperTrophy
2    2110  0140022651  ...               1965  Penguin Books
3    2110  0142302163  ...               2002   Puffin Books
4    2110  0151008116  ...               2002       Harcourt

[5 rows x 7 columns]

### Get top 10 recommendations for above given userID from the books not already rated by that user

In [0]:
# Recommend the highest predicted rating books that the user hasn't seen yet.
# select the book which are in user list and remove those from our books list
# Then merge with the sorted user predictions with the ISBN with left join
# Rename the columns to 'predictions'
recommendations = (books[~books['ISBN'].isin(user_full_info['ISBN'])].
     merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left', left_on = 'ISBN', right_on = 'ISBN').
     rename(columns = {user_row_number: 'Predictions'}))

#sort the prediction values
recommendations = (recommendations.sort_values('Predictions', ascending = False).
                   iloc[:10, :-1]
                  )

In [76]:
print('The top 10 recommendatations for user id %d are as below'% (userID))
recommendations

The top 10 recommendatations for user id 2110 are as below

            ISBN  ...                     publisher
1192  0345370775  ...              Ballantine Books
6184  0345384911  ...                 Del Rey Books
5458  043935806X  ...                    Scholastic
455   044021145X  ...  Bantam Dell Publishing Group
2031  0451151259  ...           Penguin Putnam~mass
5383  0439139597  ...                    Scholastic
3413  0439064872  ...                    Scholastic
976   0380759497  ...                           Eos
2435  0345353145  ...              Ballantine Books
6048  0451167317  ...                   Signet Book

[10 rows x 5 columns]